.card{
    width: 450px;
    margin-bottom: 50px;
    margin-top: 70px;
    padding: 10px;
}

.card-header-title{
    font-size: 40px;
    color:rgba(28, 170, 170, 0.789);
    display: flex;
    justify-content: center;    
} 

.itemdetailcontainer{
    display: flex;
    justify-content: center;

    
}
.section-detail{
        display: grid;
        justify-content: center;
    }
.footer-detail{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
