nav {
    height: 5rem;
    width: 100%;
    background: var(--color1);
    border-style: none;

    .container-fluid{
        width: auto;
        margin: 0;
    }

        .navbar-nav{
            display: contents;
            width: auto;
           
            
        }

        .navbar-brand{
            margin-right: 3rem;
            font-size: 20px;            
        }       
        .dropdown-item{
            color: var(--color3);
        }
        .form-control{
            margin-left: 10rem;
            width: 20rem;
        }

        .btn:hover{
            background-color: var(--color3);
        }
    }




